.list {
	z-index: 5;
	width: 100%;
}

.right-content {
	background: linear-gradient(
		180deg,
		rgb(251, 251, 251) 0%,
		#e9e9ee 76.5%,
		rgba(243, 243, 247, 0.88) 114.75%
	);
}

.right-content h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 128.52%;
	margin-left: 38px;
	color: #4d4d4d;
}

span#shelf {
	color: rgba(239, 131, 97, 1);
}

.card-container {
	padding: 34px 38px !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	overflow-x: scroll;
	height: 100%;
}
