@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
	padding: 0;
	margin: 0;
	font-family: "Inter";
	background-image: url("./assets/bg.svg");
	background-repeat: no-repeat;
	background-size: 100%;
}
